<section class="service-section section-space" aria-labelledby="page-title">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="request-shell">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <h1 id="page-title" class="mb-3">{{h1}}</h1>
              <p class="lead mb-4">{{lead}}</p>
              {{form}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

