<header class="site-header sticky-top">
  <nav class="navbar navbar-expand-lg" aria-label="Главная навигация">
    <div class="container">
      <div class="header-shell">
        <div class="header-topline d-none d-lg-flex">
          <div class="header-topline__start">
            <span>Начните подбор персонала</span>
            {{contactsLink}}
          </div>
          <div class="header-topline__details">
            <a class="header-contact" href="tel:{{phoneHref}}">{{phone}}</a>
            <a class="header-contact" href="mailto:{{email}}">{{email}}</a>
          </div>
        </div>
        <div class="header-main-row">
          <a class="navbar-brand m-0" href="{{homeHref}}" aria-label="АБС, главная">
            <img class="brand-logo" src="{{logo}}" width="190" height="67" alt="АБС" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNavigation" aria-controls="siteNavigation" aria-expanded="false" aria-label="Открыть меню">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="siteNavigation">
            <ul class="navbar-nav mx-lg-auto py-3 py-lg-0">
              {{navigation}}
            </ul>
            <div class="d-lg-flex align-items-lg-center pb-3 pb-lg-0">
              <a class="btn btn-abs-primary" href="/request/" data-request-popup-trigger>Оставить заявку</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
